
footer{
	text-align: center;
	background-color: #cccccc;
	width: 100%;
	margin:0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

footer li{
	display: inline;
}

footer p {
	color: gold;

}
.logo img{
	
}

.fa{
	color: gold;
	padding-left: 10px;
	padding-right: 10px;
}

.top img {

	width: 100% ;
	height: 500px;
	margin: 0;
}

nav {
	width: 100%;
	text-align: center;
	margin: 10px 0px 10px 0px ;
}

nav ul {
	list-style: none;
	background-color: silver;
	margin: 0px;
	padding-left: 0px;

	
}

nav li {
	display: inline-block;
	font-size: 20px;
}

nav a {
	color: gold ;
	text-align: center;
	padding: 10px 10px 10px 10px;
	display: block;
	border-bottom: 5px solid transparent;
	text-decoration: none;

}

nav a:hover {
	color: brown;
	border-bottom: 5px solid brown;


}

body {
	background-color: silver;

}
#page {
    width: 1000px;
    margin: 14px auto 0px;

}

.levo {
    width: 50%;
    float: left;
 
}

.desno{
    width: 50%;
    display: inline;
    float: right;
    color: gold;
    margin-top: 50px;

}

.block{
    display:inline-block;
}
.desno h1 {
	color: brown;
	text-align: center;
	margin: 10px 0px 20px 50px;

}

.desno p {
	margin: 10px 0px 0px 50px;
	font-size: 20px;
}
.block1 {
	display: inline-block;
}
.levo1 { 
	width: 50%;
    float: left;
 }

.desno1 {
 	width: 50%;
    display: inline;
    float: right;
    color: gold;
    margin-top: 55px;	
}
.levo1 h1 {
	color: brown;
	text-align: center;
	margin: 10px 0px 20px 50px;

}

.levo1 p {
	margin: 10px 0px 0px 50px;
	font-size: 20px;
	color: gold;
}